<div class="theme-controls">
  <mat-button-toggle-group
    [value]="themePreference"
    (change)="onToggleChange($event.value)"
    aria-label="Wybór motywu"
    hideSingleSelectionIndicator
  >
    <mat-button-toggle value="light" matTooltip="Motyw jasny">
      <mat-icon>light_mode</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="dark" matTooltip="Motyw ciemny">
      <mat-icon>dark_mode</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="system" matTooltip="Motyw systemowy">
      <mat-icon>brightness_auto</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
